<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88677993879-i5lvi2u63c84bmjn6hfucjj5eecr1uik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88677993879-i5lvi2u63c84bmjn6hfucjj5eecr1uik</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mluGk2Aceg8bFBjvSvDCxrQETnVvk7E</string>
	<key>GCM_SENDER_ID</key>
	<string>88677993879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todo-list-80617</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-80617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88677993879:ios:d6c45259df8b86744488d2</string>
</dict>
</plist>